@charset "UTF-8";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.output {
  background-color: #858694;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 2px;
}

.output .value {
  color: white;
  font-size: 30px;
  padding-right: 5px;
}

.keypad {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.Button[value='0'] {
  grid-column: span 2;
  width: 100%;
}

.Button {
  background: #e0e0e0;
  display: -webkit-box;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  min-width: 25%;
  padding: 30px 30px;
  grid-column: span 1;
}

.Button[value='รท'],
.Button[value='x'],
.Button[value='-'],
.Button[value='+'],
.Button[value='='] {
  background: #f5913e;
}

.body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calculator {
  width: 40%;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
}
