@import './SCSS/reset';
@import './SCSS/display';
@import './SCSS/keypad';
@import './SCSS/button';

$signs-color: #f5913e;
$Buttons-color: #e0e0e0;

.calculator {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}
