@import './SCSS/reset';
@import './SCSS/display';
@import './SCSS/keypad';
@import './SCSS/button';

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 40%;
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
}
